@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:wght@100;400&display=swap");

body {
  background-color: #000;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 500px;
  background-color: #808080;
  border-radius: 10px;
  background-image: linear-gradient(#808080, #000);
}
