@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:wght@100;400&display=swap");

body {
  background-color: #fff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  background-image: linear-gradient(#fff, #ffffe0);
  box-shadow: 2px 2px;
}
